<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <%-include('./inc/Top.ejs') %>
    <hr />
    <div class="container">
      <h2>삭제?</h2>
      <%-include('./ShopNav.ejs') %>
      <form action="/shop/delete" method="post">
        <table class="table">
          <tr>
            <th>ID</th>
            <td><%=car._id %></td>
          </tr>
          <tr>
            <th>name</th>
            <td><%=car.name %></td>
          </tr>
          <tr>
            <th>price</th>
            <td><%=car.price %></td>
          </tr>
          <tr>
            <th>year</th>
            <td><%=car.year %></td>
          </tr>
          <tr>
            <th>company</th>
            <td><%=car.company %></td>
          </tr>
        </table>
      </form>
    </div>
  </body>
</html>
